*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    list-style: none;
}

body{
    background: #396afc;  /* fallback for old browsers */
}

main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    gap: 10px;
}


.sections-btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#signUp-btn{
    background-color: #ed8f03;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sections-btns button{
    padding: 10px 80px;
    cursor: pointer;
    background-color: #ed8f0386;
    border: none;
    color: white;
    font-size: 1rem;
}

button{
    cursor: pointer;
    border-radius: 0.2rem;
}

form{
    
    padding: 0 20px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 22px;
}


form input{
    background-color: transparent;
    padding: 5px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
form h2{
    width: 35%;
    margin: 25px auto;
    text-align: center;
    color: white;
    letter-spacing: 2px;

    border-bottom: 2px solid #ed8f03;
}

form button{
    width: 40%;
    display: block;
    margin: 30px auto;
    padding: 15px;

    border: none;
    background-color: #ed8f03;
    color: white;
    letter-spacing: 2px;
    font-size: 1rem;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    transition: .3s ease;
}

form button:hover{
    background-color: #ca7c05;
}


#signIn-input input{
    width: 80%;
    margin: 0 auto;
}

form input[type='date']{
    color: rgba(255, 255, 255, 0.562);;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8) brightness(10%) sepia(50%) saturate(10%) hue-rotate(240deg);
  }

form input::placeholder{
    color: rgba(255, 255, 255, 0.562);
}

form input:focus{
    outline: none;
}

#signIn-input i{
    position: absolute;
    bottom: 5px;
    left: calc(83%);
    font-size: 1.2rem;
    color: #212529;
    cursor: pointer;
}

fieldset{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
}

legend{
    padding-bottom: 5px;
    font-size: 1.4rem;
    color: white;

}
#gender{
    width: 40%;
    display: flex;
}

#gender label{
    color: white;
}


.user-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.user-icon i{
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.685);
}

#signIn-input{
    display: flex;
    gap: 50px;
    flex-direction: column;
    position: relative;

 
}


.complete-registration{
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;

    
}

.complete-registration a{
    text-decoration: none;
    color: #ed8f03;
    font-weight: 600;
}



.user-information{
    width: 100%;
    text-align: left;
    display: flex;
    padding: 0 15px;
    flex-direction: column;
    gap: 50px;
   
    margin-top: 100px;
}
.information-container{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.user-information h2{
    
    color: white;
    display: inline-block;
    padding: 0 12px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #ed8f03;
}

.main-table{
    display: flex;
    flex-direction: row;

    padding: 10px;
}
.first-table, .last-table{
    display:flex;
    flex-direction: column;
    
    gap: 5px;
}
.first-table > li{
    padding: 7px;
    color: white;
    text-align: center;
    background-color: #ed8f03;
}

.last-table > li{
    padding: 6px;
    color: white;
    text-align: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #ed8f03;
}




.back-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    border: 1px solid #ed8f03;
    background-color: transparent;
    color: white;
    letter-spacing: 2px;
    font-size: 0.8rem;
}
.back-btn > i{
    font-size: 1.3rem;
}

.back-btn:hover{
    background-color: #ed8f03;
}



/* RESONSIVIDADE */

@media only screen and (max-width: 500px){
    
     #signUp-form input[type='text'], #signUp-form input[type='password'], #signUp-form input[type='email'],  #signUp-form input[type='tel'], #signUp-form input[type='date']{
        width: 130px;
    }
    form {
        width: 100%;
        padding: 0 40px;
    }

    #signUp-form > input::placeholder, #signUp-form > input{
        font-size: .8rem;
    }

    .sections-btns{
        justify-content: center;
        
    }

    .sections-btns button{
        
        padding: 8px 60px;
    }

    #gender label{
        font-size: 1rem;
    }

    fieldset{
        gap: 1rem;
    }

    #gender{
        gap: 0;
    }
}

